/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/movie.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.movie_movie__n6Ry2{
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 20px;
    gap: 20px;
    cursor: pointer;
    place-items: center;
}

.movie_movie__n6Ry2 img{
    max-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

.movie_movie__n6Ry2 img{
    opacity: 0.7;
}

.movie_movie__n6Ry2 img:hover{
    opacity: 1;
}

.movie_movie__n6Ry2 a{
    text-align: center;
}

/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/home.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
.home_container__STkGE{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
    gap: 25px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/movie-similar.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.movie-similar_container__cvaRq{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    gap: 25px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}

.movie-similar_poster__gK4GK{
    width: 80%;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 15px;
    transition: opacity 0.3s ease-in-out;
}

.movie-similar_poster__gK4GK img{
    opacity: 0.7;
}

.movie-similar_poster__gK4GK img:hover{
    opacity: 1;
}

.movie-similar_box__t8esr{
    text-align: center;
    line-height: 150%;
    opacity: 0.9;
}

.movie-similar_box__t8esr h1{
    font-weight: bold;
    background-color: rgb(136, 136, 136);
    margin-bottom: 15px;
}

.movie-similar_over__Y7oju{
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.2;
    text-align: left;
    display: -webkit-box;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 20px;
}


.movie-similar_title__M5KgU{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/movie-info.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.movie-info_container__FB7p9{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 50px;
    gap: 50px;
    width: 80%;
    margin: 0 auto;
}

.movie-info_poster__Ewjrh{
    border-radius: 20px;
    max-width: 70%;
    place-self: center;
}

.movie-info_title__Rggks{
    color: white;
    font-size: 36px;
    font-weight: 600;
}

.movie-info_info__RVgwq{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

