.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 80%;
    margin: 0 auto;
}

.box{
    display: grid;
    padding: 10px;
    text-align: center;
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
}

.box h1{
    font-weight: bold;
    font-size: 25px;
    color: black;
    
}

.box a{
    color:rgb(255, 66, 59);
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.content{
    display: flex;
}

.content img{
    border-radius: 20px;
    max-width: 60%;
    margin: 10px;
}

.item{
    margin: 20px;
    color: black;
    font-weight: lighter;
}

.title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}